body {
  background-image: url("../img/download.jpg");
}
ul {
   margin-left: 1050px;
 }



.btn-primary {
  background-color: lightblue;
  text-align: center;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ff95c7;
    border-color: #727373;
}



.btn-group-lg>.btn, .btn-lg {
  border-radius: 0;
}
.col-md-4 {
  height: 50px;
}
.red {
  background-color: red;

}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}


#carousel-id {
  height: 500px;
  transition: 1s;
  transition: ease-in-out;
}

.carousel-inner {
  height: 500px;
}

.footer {
  background-color: lightgrey;
  height: 200px;
}

p {
  text-align: center;
}
