body {
  background-color: pink;
}


.btn-primary {
  background-color: lightblue;
  margin-left: 500px
}



.btn-group-lg>.btn, .btn-lg {
  border-radius: 0;
}
.col-md-4 {
  height: 50px;
}
.red {
  background-color: red;

}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}


#carousel-id {
  height: 500px;
}
